<!DOCTYPE html>
<head>
    <!-- META -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>

    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS Includes (PRODUCTION) -->

    {{#if dev}}
        <link rel="stylesheet" href="/css/core.css"/>
    {{else}}
        {{#data src="public/css/css-manifest.json" as="manifest"}}
            <link rel="stylesheet" href="/css/{{manifest.[core.min.css]}}"/>
        {{/data}}
    {{/if}}


</head>
<body id="page-top">
    {{ inc src="header.hbs" }}
    {{ inc src="public/svg/icons.svg" }}

    {{#if_eq page.url '/'}}
    <div class="wrapper site-body layout-1col" role="main">
        <div class="container">
            {{ content }}
        </div>
    </div>
    {{else}}

    <div class="wrapper site-body layout-2col" role="main">
        <div class="container">
            <section class="sidebar">
                <a href="#sidebar-lists" class="sidebar__toggle" data-toggle>Menu</a>
                <div class="sidebar__lists" id="sidebar-lists">
                    {{#each $$.site.sidebar.sections}}
                    <ul class="sidebar__list">
                        <li>
                            <p class="sidebar__heading">{{this.title}}</p>
                            <ul class="sidebar__list sidebar__list--nested">
                                {{#each this.items}}
                                <li><a href="{{this.url}}" class="sidebar__link {{#current this.url}}sidebar__link--current{{/current}}">{{{this.label}}}</a></li>
                                {{/each}}
                            </ul>
                        </li>
                    </ul>
                    {{/each}}
                </div>
            </section>
            <main class="content">
                <h1 class="page-title">{{page.title}}</h1>
                {{ content }}
            </main>
        </div>
    </div>
    {{/if_eq}}

    {{ inc src="footer.hbs" }}

    {{#if dev}}
        <script src="/js/scripts.js?rel={{hash src="public/js/scripts.js"}}"></script>
    {{else}}
        {{#data src="public/js/manifest.json" as="manifest"}}
            <script src="/js/{{manifest.[scripts.js]}}"></script>
        {{/data}}
    {{/if}}

</body>
</html>

