<!DOCTYPE html>
<!--[if gt IE 9]><!--> <html class="no-js ffly" lang="en"> <!--<![endif]-->
<head>
    <!-- META -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>

    <!-- ICONS -->
    <link href="/img/favicon.ico" rel="shortcut icon" type="image/ico">

    <!-- CSS Includes (PRODUCTION) -->
    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">-->

    <link rel="stylesheet" href="/css/core.css"/>


    <!--[if gt IE 9]>
    <script src="/img/icons/svg4everybody.min.js"></script>
    <![endif]-->

</head>
<body id="page-top">
    {{ inc src="header.hbs" }}
    {{ inc src="public/svg/icons.svg" }}
    <div class="wrapper site-body" role="main">
        <div class="container">
            {{ content }}
        </div>
    </div>
    {{ inc src="footer.hbs" }}
</body>
</html>

