<header class="wrapper site-header" role="banner">
    <div class="container">

        <nav class="site-nav">
            <ul class="site-nav__items">
                <li class="site-nav__item site-nav__item--logo">
                    {{#if_eq page.url '/'}}
                        <a href="/" class="site-nav__link logo logo--small">
                            {{inc src="public/img/logo-o.svg"}}
                        </a>
                    {{else}}
                    <a href="/" class="site-nav__link logo">
                        {{inc src="public/img/logo.svg"}}
                    </a>
                    {{/if_eq}}
                </li>
                <li class="site-nav__item site-nav__item--text">
                    <a href="{{$$.site.nav.docs.url}}" class="site-nav__link site-nav__link--text">Documentation</a>
                </li>
                <li class="site-nav__item site-nav__item--icons">
                    <a href="{{$$.site.links.github}}" class="site-nav__link site-nav__link--icon" title="Crossbow on Github">
                        {{inc src="icon.hbs" icon="github"}}
                    </a>
                    <a href="https://twitter.com/crossbow_io" class="site-nav__link site-nav__link--icon" title="@crossbow_io on Twitter">
                        {{inc src="icon.hbs" icon="twitter"}}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
