<div class="context">
    <div class="tab-nav">
        <a href="#{{name}}-yml" class="tab-nav__button tab-nav__button--active">crossbow.yml</a>
        <a href="#{{name}}-cbfile" class="tab-nav__button">cbfile.js</a>
        <a href="#{{name}}-js" class="tab-nav__button">crossbow.js</a>
    </div>
    <div class="tab-content" id="{{name}}-cbfile">
        {{hl src=cbfile}}
    </div>
    <div class="tab-content tab-content--active" id="{{name}}-yml">
        {{hl src=yml}}
    </div>
    <div class="tab-content" id="{{name}}-js">
        {{hl src=js}}
    </div>
</div>
