---
title: Crossbow - Beyond NPM scripts
---

<header class="wrapper hero" role="banner">
    <div class="container">

        <div class="hero__items">
            <div class="intro">
                <a href="/" class="logo">
                    {{inc src="public/img/logo.svg"}}
                </a>
                <p class="tagline">Beyond NPM scripts</p>
                <p class="lede">Unifying the use & configuration of plain functions, gulp-style streams,
                    tasks in separate files, shell/NPM scripts plus much more!</p>
                <div class="cta">
                    <a href="/docs/installation" class="button button--bold">Get Started!</a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="wrapper">
    <div class="container">
        <div class="home-block">
            <div class="home-block__text">
                {{inc src="intro-text.md" filter="md"}}

                <div class="tool-list">
                    <span class="tool-list__item">{{inc src="public/img/npm.svg"}}</span>
                    <span class="tool-list__item">{{inc src="public/img/gulp-white.svg"}}</span>
                    <span class="tool-list__item">{{inc src="public/img/js.svg"}}</span>
                    <span class="tool-list__item">{{inc src="public/img/console.svg"}}</span>
                </div>

            </div>
            <div class="home-block__media">
                <div class="demo">
                    <div class="demo__snippet">

                        <span class="demo__snippet__title">1. Install</span>
                        <code>$ npm install -g crossbow</code>
                    </div>
                    <div class="demo__snippet">
                        <span class="demo__snippet__title">2. Compose existing tasks, tools, plugins and scripts</span>
                        {{inc
                            src="three.hbs"
                            name="home-01"
                            yml="snippets/home-01/crossbow.yml"
                            cbfile="snippets/home-01/cbfile.js"
                            js="snippets/home-01/crossbow.js"
                        }}
                    </div>
                    <div class="demo__snippet">
                        <span class="demo__snippet__title">3. run</span>
                        <code>$ cb build</code>
                    </div>
                </div>
            </div>
        </div>
        <div class="cta">
            <a href="/docs/installation" class="button button--bold button--invert">Get Started!</a>
        </div>
    </div>
</div>
